.btn {
  /* link is a pseudo class */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-0.3rem);
    /* box-shadow: Y X Blur Color; */
    box-shadow: 0 1rem 2rem rgba($color-black,.3);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .3);
  }

  &--white {
    background-color: #fff;
    color: $color-grey-dark;   

    &::after {
      background-color: #fff;
    } 
  }

  /* the after element behaves like a child */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    /* the position of the element behind one another */
    z-index: -1;
    transition: all .4s;
  }
  &--animated {
    animation: moveInButton .7s ease-out .7s;
    /* will apply the styles before the animation starts */
    animation-fill-mode: backwards;
  }
}