body {
  font-size: 62.5%;
}

.row {
  max-width: $grid-width;
  background-color: red;
  margin: 0 auto;
  
  // select everything but the last child
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}

